export(RankSummary)
export(aggregRank)
export(dataFormatRSA)
export(getRankmatrix)
export(getStability)
export(mwTest2samp)
export(runRSA)
export(uniqueRSARanking)
exportClasses(RankSummary)
exportMethods(Pi)
exportMethods(avrgRank)
exportMethods(baseRank)
exportMethods(getSampleScores)
exportMethods(method)
exportMethods(rankCor)
exportMethods(stabRank)
exportMethods(stabilityRanking)
exportMethods(stableSetSize)
exportMethods(summaryStats)
import(cellHTS2)
import(methods)
